<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
<h1> Witamy na stronie głównej</h1>
<p>W sekcjach poniżej znajdziesz odnośniki do interesujących Cię zagadnień</p>
<div>
    <a href="info">Ważne informacje</a>
    <a href="support">Zgłoszenie problemu</a>
    <a href="votepanel">Panel głosowania</a>
    <a href="payment">Informacje o płatnościach</a>
    <a href="contact">Kontakt</a>
</div>
</body>
</html>